.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane > svg path, .leaflet-tile-container {
    pointer-events: visible;
}


#content{
    padding-left: 10px;
    padding-right: 10px;
}


#mapid {
    position:realtive;
    width: 100%;
    height: 700px;
}


.geopath  {
    fill: #cceeff;
    stroke: #0088ff;
    stroke-width: 0.5px;
    opacity: 0.25;
}

.highlighted-geom {
    fill: #ffcc99;
    stroke: #ff00ff;
    opacity: 0.45;
    cursor: pointer;
}

.lake_breadcrumb, .jurisdiction_breadcrumb, .manunit_breadcrumb {visibility: hidden}

.species-name {
  text-transform: capitalize;
  }

.point:hover {
    fill: yellow;
    fill-opacity: 1.0;
    stroke-width: 2;
}

tr.error {
  font-weight: 900;
}


.highlighted {
    fill: #ffcc99;
    stroke: #ff00ff;

}


.arc {
    opacity: 0.65;
    stroke: grey;
    stroke-width: 1;
    cursor: auto;

}

.arc:hover {
    stroke: darkgray;
    opacity: 0.85;
    cursor: pointer;
    stroke-width: 1.3;
}

.selected-pie > .arc {
    stroke: black;
    opacity: 1.0;
    stroke-width: 1.5;
}

.tooltip {

 position: absolute;
 visibility: hidden;
background-color: white;
border: solid;
border-width: 1px;
border-radius: 5px;
padding: 10px;

}

/* .tooltip {  */
/*      position: absolute;  */
/*      width: 100%;  */
/*      height: 100%;  */
/*  } */
